<div class="wrapper">

    <mat-drawer-container class="example-container" hasBackdrop="false">
        <!-- Change to over and add back button -->
        <mat-drawer #drawer mode="over">
            <div class="back-button">
                <button mat-icon-button aria-label="Fenster minimieren" (click)="minimizeDrawer()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </div>
            <app-service-component [services]="services" *ngIf="showService" (serviceChanged)="serviceChanged($event)">
            </app-service-component>

            <app-employee-wrapper [employees]="employees" *ngIf="!showService" ></app-employee-wrapper>

            <!-- <div class="header-margin" *ngIf="!showService">

                <mat-card *ngFor="let employee of employees">
                    <app-display-employee [employee]="employee">
                    </app-display-employee>
                </mat-card>
               
            </div> -->

        </mat-drawer>
        <mat-drawer-content>

            <div class="front-page">
                <div class="buttons">
                    <button mat-raised-button (click)="showServices()">Dienste</button>
                    <button mat-raised-button (click)="showEmployees()">Mitarbeiter</button>
                </div>

                <app-location-map [employees]="employees" [services]="services"></app-location-map>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>