
<div class="sideBar">
    <div class="dienste">
<mat-card class="header-card">
    <div class="header">
        <h1> Services </h1>
        <button mat-raised-button color="success" (click)="createNewService()"> Dienst hinzufügen</button>
    </div>
</mat-card>
</div>

<mat-card *ngFor="let service of services" class="shadow">
    <div class="card-layout">
        <div>
        <div class="service-header">
            <h2 >{{service.name}}</h2>
        </div>
      
        

<div>
    <p class="date">{{service.date}}</p>
    <p class="adress">{{service.latitude}}</p>
</div>
</div>
<div class="align_right">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editService(service)">
            <mat-icon>edit</mat-icon>
            <span>Bearbeiten</span>
        </button>

        <button mat-menu-item (click)="deleteService(service)">
            <mat-icon>delete_outline</mat-icon>
            <span>Löschen</span>
        </button>

    </mat-menu>
</div>
    </div>

</mat-card>
</div>
