mat-card {
    margin-bottom: 10px;
    background-color: #272727;
    color: white;
}
.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.header-card {
    margin-top: 20px;
    background-color: #1D1D1D;
}
h1 {
    margin-bottom: 0px;
}
