

<mat-card class="header-card">
    <div class="header">
        <h1> Dienste </h1>
        <button mat-raised-button color="accent" (click)="openDialog()"> Dienst hinzufügen</button>
    </div>
</mat-card>


<mat-card *ngFor="let service of services">
    <div class="card-layout">
        
            <h2 class="serviceName">{{service.name}}</h2>
            <p class="serviceDate">{{service.date}}</p>
       
        

       
        <small class="serviceAdres">{{service.latitude}}</small>
        <mat-icon class="moreIcon" aria-hidden="false" aria-label="more_vert" (click)="openDialog()">more_vert</mat-icon>

    </div>

</mat-card>