
.grid-container {
    display: grid;
  }
  .background
  {
    background-color:rgba(0, 0, 0, 0.0);
     
  }

  .header
  {
    
        
      margin-top: 5px;
        
  }

  .buttnOk
  { 
      /* width: 60px;
    height: 30px;
    font-size: 15px;
      color:#E74C3C;
      border-radius: 10px;
      border-color: #E74C3C;
      border-width: 1px;
      cursor: pointer;
       */
       margin-top: -35px;
  } 

  .oneLine
  {
      margin-top: 5px;
    display: flex;
    justify-content: space-between;
    
  }
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #E74C3C !important;
  } 

 
.grid-item
{
    width: 190px;

    
}



#fullWidth
{
    width: 100% !important;
}
