<h1 mat-dialog-title>Hi</h1>


<div mat-dialog-content>
    <!-- Username -->
    <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.latitude" cdkFocusInitial>Ok</button>
</div>