<div class= "background">
    <div class="oneLine">
        <h1 mat-dialog-title class="header">Dienst anlegen</h1>
        <div mat-dialog-actions>
         <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
        <button mat-raised-button color="primary" class="buttnOk" (click)="closeDialogAndSave()" cdkFocusInitial>GUCCI</button>
         <!--[mat-dialog-close]="data"-->
        </div>
</div>
<div class="grid-container">
<div mat-dialog-content >
    <!-- Name -->
    <div class="oneLine">
    <mat-form-field appearance="standard"  class="grid-item">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="service.name" matInput placeholder="Name des Services">
    </mat-form-field>

    <!-- Long -->
    <mat-form-field  appearance="standard" class="grid-item">
        <mat-label>Longitude</mat-label>
        <input [(ngModel)]="service.longitude" matInput placeholder="Longitude des Services">
    </mat-form-field>
    </div>
    <div class="oneLine">
    <!-- Lat -->
    <mat-form-field appearance="standard" class="grid-item">
        <mat-label>Latitude</mat-label>
        <input  [(ngModel)]="service.latitude" matInput placeholder="Latitude des Services">
    </mat-form-field>

    <!-- Date -->
    <mat-form-field class="grid-item">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="customDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div class="oneLine">

    <!-- Time -->
    <mat-form-field class="grid-item">
        <div class="24hr-example">
            <input [(ngModel)]="customTime" matInput placeholder="24hr format" [ngxTimepicker]="fullTime" [format]="24" readonly>
            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
       </div>
    </mat-form-field>    

    <!-- Employee -->
    <mat-form-field class="grid-item">
        <mat-label>Mitarbeiter</mat-label>
        <mat-select [(value)]="service.employeeId">
            <mat-option *ngFor="let employee of employees" [value]="employee.id">
                {{ employee.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
</div>
</div>

</div>