/* You can add global styles to this file, and also import other style files */
#map {
    height: 100%;
    width: 100%;
    /* Center se map  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
